* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body{
    background-color: #1c2228;
    font-family: 'Source Sans Pro', san-serif;
    color: #f7fff7;
    height: 100%;

}

a{ 
    color: #44a4cd;
}

a:hover {
    color: #44a8cf;
}

.shadow {
    box-shadow:   11px 11px 22px #0b0e10, 
    -7px -7px 22px #2d3640;
}
.section-container {
    padding: 30px;
}
.card-theme {
    background-color: #191f26;
    border: none;
    border-radius: 2px;
}

.card-heading-theme{
    color: #eee;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    padding: 12px;
}

.card-body-theme{
    background: #494f56;
}
.cards {
    display: flex;
    flex-direction: column;
}
.section-container{
    padding: 30px;
}